<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # BARU: Arahkan ke aset di folder public jika ada
    # Jika file yang diminta ADA di dalam folder /public, layani file itu secara langsung.
    RewriteCond %{DOCUMENT_ROOT}/881d6159bd8d5f13b3c97f8cc87ddc92f2c3636a3edafde01b2402652c6dceea/public%{REQUEST_URI} -f
    RewriteRule ^(.*)$ 881d6159bd8d5f13b3c97f8cc87ddc92f2c3636a3edafde01b2402652c6dceea/public/$1 [L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
